body, h1, p{
    margin: 0;
}
.Botao {
    background-color: #cb0404; /* RED */
    border: none;
    border-radius: 12%;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    width: 250px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
}
header{
    display: flex;
    width: 100%;
    justify-content: space-between;
}
h1{
color: black ;
}
.hardrock-jpg{
    width: 100%;
}
.Botao:hover {

}
.card-section{
    margin: 0 auto;
    width: 150px;
    border: 2px solid black;
    border-radius: 8px;
    text-align: center;
}
.ironmaiden-jpg{
    width: 150px;
    border-radius: 8px 8px 0 0;
}
.img-iron{
    background-color: black;
}
nav{
    display: flex;
}
ul{
    color: black;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
li{
    list-style: none;
    display: flex;
    flex-direction: row;
    padding-right: 20px;
    padding-left: 20px;
}
.card-button{
    border: none;
    background-color: black;
    color: red;
    font-weight: 300;
    font-size: 10px;
    padding: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    border-radius: 5px;
}
.card-button p {
    font-size: 12px;
}
.card-button h3{
    font-size: 10px;
}